/*Global styles*/

.border {
    border-bottom: 3px solid #B0B0B0;
    border-radius: 4px;
    width: 100%;
}

.inputError .border {
    border-bottom: 3px solid #FF4D4D;
}

.input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: top;

    background-color: white;
    border: none;
    outline: none;
    
    width: 100%;
    padding: 16px;
    border-radius: 4px;

    font-size: 16px;
    font-family: Helvetica;

    resize: none;
    overflow: visible;
}

.input:focus {
    outline: #FE88CC 2px solid;
    outline-offset: -3px;

    transform: translate(0px, 2px);
}

.errorText {
    font-size: 16px;
    font-family: 'Helvetica Light';
}


/*Desktop only*/
@media screen and (min-width: 768px) {
    .input {
        font-size: 24px;
    }

    .errorText {
        font-size: 20px;
    }
}