/*Global styles*/

.imageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.imageWrapper {
    width: fit-content;
    height: fit-content;
    background-color: white;
    position: relative;
    cursor: default;
}

.image {
    width: 96px;
    height: 96px;
    object-fit: cover;
    display: block;
}

.deleteButton {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 2px;
    right: 2px;
    width: fit-content;
    height: fit-content;
    z-index: 100;
    padding: 0;
    border: none;
    cursor: pointer;
}
.deleteButton img {
    width: 32px;
    height: 32px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    display: block;
}

.deleteButton:hover img, .deleteButton:focus img{
    opacity: 1;
}

/*Desktop only*/
@media screen and (min-width: 768px) {
    .image {
        width: 200px;
        height: 200px;
    } 

    .deleteButton img{
        width: 56px;
        height: 56px;
    }
}