/*global styles*/

.wrapper {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    width: 100%;
    position: relative;

    background-color: #FFF9ED;
    box-shadow: -3px 4px 12px -1px rgba(0, 0, 0, 0.25);

    transition: translate 0.05s ease-in-out;

}
.wrapper:hover {
    translate: 0px -2px;
    box-shadow: -3px 6px 12px -1px rgba(0, 0, 0, 0.4);
}
.wrapper:active {
    box-shadow: 0 0 0 0;
    translate: 0px 2px;
}

.link {
    text-decoration: none
}
.image {
    width: 100%;
    aspect-ratio: 10/7.2;
    object-fit: cover;
}

.hidden {
    display: none;
}

.editIcon {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 72px;
    height: 72px;

    opacity: 0.8;
    transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    -webkit-transition: opacity 0.15s ease-in-out;
}

.wrapper:hover .editIcon {
    opacity: 1.0;
}


.itemName {
    font-family: ClementePDag;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.itemPrice {
    font-family: ClementePDak
}
.textWrapper {
    height: 50px;
    padding: 8px 8px 8px 8px;
    display: flex;
    justify-content: space-between;
}

.textWrapper p {
    font-size: 20px;
}

/*desktop only*/
@media screen and (min-width: 768px) {

    .wrapper {
        width: 320px;
        max-width: 100%;
    }
    .textWrapper {
        height: 60px;
    }

    .textWrapper p {
        font-size: 24px;
    }

}