.wrapper {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    width: 100%;
    height: fit-content;
    position: relative;

    background-color: #FFF9ED;
}

.wrapper img {
    display: block;
    opacity: 0.4;
    width: 100%;
    transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    -webkit-transition: opacity 0.15s ease-in-out;
}

.wrapper:hover img {
    opacity: 1;
}

/*desktop only*/
@media screen and (min-width: 480px) {
    .wrapper {
        width: 320px;
    }
}