/*Global styles*/
.wrapper h3 {
    margin-top: 24px;
    margin-bottom: 8px;
}
.namePriceWrapper {
    display: flex;
    justify-content: space-between;
}

.shop {
    font-family: ClementePDae;
}

.description {
    font-family: Helvetica;
    margin-bottom: 24px;
}

/*Desktop only*/
@media screen and (min-width: 768px) {
    .wrapper h3 {
        margin-top: 40px;
        margin-bottom: 16px;
    }
}