/*Global styles*/
.background {
    background-color: #FFE0CE;
}
.content {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content h3 {
    margin-bottom: 16px;
}

/*Desktop only*/
@media screen and (min-width: 768px) {
    .content {
        width: 1008px;
        max-width: 88%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        gap: 80px;
    }
}