.wrapper {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    width: 100%;
    position: relative;

    background-color: #FFF9ED;
    box-shadow: -3px 4px 12px -1px rgba(0, 0, 0, 0.25);

    transition: translate 0.05s ease-in-out;
}

.wrapper:hover {
    translate: 0px -2px;
    box-shadow: -3px 6px 12px -1px rgba(0, 0, 0, 0.4);
}

.wrapper:active {
    box-shadow: 0 0 0 0;
    translate: 0px 2px;
}

.wrapper a {
    text-decoration: none;
}

.wrapper img {
    opacity: 0.4;
    transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    -webkit-transition: opacity 0.15s ease-in-out;
}

.wrapper:hover img {
    opacity: 1;
}

/*desktop only*/
@media screen and (min-width: 768px) {

    .wrapper {
        width: 320px;
        max-width: 100%;
    }
}