/*Global styles*/
.clickable {
    border-radius: 12px;
}
.button {
    text-align: center;
    font-family: 'ClementePDak';
    font-size: 18px;
    height: 64px;
    padding: auto 0;
    border-radius: 12px;
    cursor: pointer;
}

/*Mobile only*/
@media screen and (max-width: 768px) {
    .button {
        width: 100% !important;
    }
}

/*Desktop only*/
@media screen and (min-width: 768px) {
    .button {
        width: 218px;
    }
}