
/* Mobile + Desktop */
.button {
    text-align: center;
    font-family: 'Clemente';
    font-weight: 600;
    font-size: 18px;
    
    width: 100%;
    padding: 23px 0;


    border-radius: 12px;
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.button:active {
    box-shadow: 0 0 0 0 !important;
    translate: -3px 3px;
}
/* Desktop only */
@media screen and (min-width: 480px) {
    .button {
        width: 218px;
    }
}
