.button {
    width: 100px;
    padding: 8px;

    text-align: center;
    font-family: 'Clemente';
    font-size: 12pt;
    font-weight: 400;

    border-radius: 10px;
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.button:active {
    box-shadow: 0 0 0 0 !important;
    translate: -3px 3px;
}

@media screen and (min-width: 480px) {
    .button {
        width: auto;
        min-width: 200px;
        padding: 16px;
    }
}
