.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 20px;
}

@media (min-width: 780px) {
    .container{
        flex-direction: row;
        margin-top: 0px;
        padding-bottom: 50px;
    }
}

.smallContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: relative;
    padding-bottom: 10px;
}

.image{
    height: auto;
    width: 200px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
