.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
}

@media (min-width: 780px) {
    .container {
        flex-direction: row;
        max-width: 1160px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.bigContainer {
    display: flex;
    flex-direction: column;
}

.bigImage {
    width: auto;
    height: 200px;
    padding: 2.5%;
}

@media(min-width: 780px) {
    .bigImage {
        width: auto;
        height: 700px;
        padding: 5%;
    }
}

.button {
    height: 250px;
    width: 325px;
}

@media (min-width: 780px) {
    .button {
        height: 325px;
        width: 550px;
    }
}
