.header {
    width: 100%;
    height: 74px;
    background-image: url('/HeaderEllipse.svg');
    background-repeat: repeat-x;
    background-size: 120px;
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.2));
    padding-bottom: 32px;
}

.headerFill {
    width: 100%;
    background-color: #FFF9ED;
}

@media (min-width: 780px) {
    .header {
        padding-bottom: 24px;
    }
}