.body {
    background-color: #FFE0CE;
}

.content {
    margin: auto;
    width: 95%;
}

.nextContainer {
    max-width: 768px;
    margin: auto;
    margin-top: 40px;
}
.nextPoster {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nextButtonContainer {
    margin-top: 10px;
    display: flex;
    height: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nextButton {
    padding-top: 100px;
}
.nextHeart {
    display: none;
}

.aboutContainer {
    display: flex;
    flex-direction: column-reverse;
}
.aboutImage {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (min-width: 480px) {
    .body {
        width: 70%;
        min-width: 360px;
        max-width: 1000px;
    }
}

@media screen and (min-width: 768px) {
    .nextContainer {
        width: 600px;
        max-width: 100%;
    }
    .nextPoster {
        width: 100%;
    }
    .nextButtonContainer{
        flex-direction: row;
        justify-content: space-around;
        height: 100px;
    }
    .nextButton, .nextHeart {
        display: block;
        margin: 20px;
    }

    .aboutContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .aboutImage {
        margin: auto;
        max-width: 40%;
    }
    .aboutText {
        margin: auto;
        margin-top: 20px;
        max-width: 60%;
    }
}
