/*Mobile + Desktop*/
.body {
    background-color: #FFE0CE;
}

.content {
    margin-left: 16px;
    margin-right: 16px;
}

.nextContainer {
    padding-top: 32px; /*Space between navbar and next section*/
}

.nextPoster {
    padding-top: 8px; /*Space between NEXT and poster image*/
    width: 100%;
}

.nextButtonContainer {
    margin-top: 24px; /*Space between buttons and poster image*/
    width: 100%;
}

.nextHeartContainer {
    height: 24px;
}

.nextHeart {
    display: none;
}

.testimonialsContainer {
    padding-top: 48px; /* Space between buttons and Testimonials heading*/
}

.testimonials {
    padding-top: 0px; /* Space between TESTIMONIALS and quotes (+16px) */
}

.aboutContainer {
    padding-top: 48px; /* Space between testimonials and About heading*/
}

.aboutSubContainer {
    margin-top: 24px; /* Space between ABOUT and text/image */
    display: flex;
    flex-direction: column-reverse;
}

.aboutImage {
    width: 100%;
}

.aboutText {
    width: 100%;
}

/*Desktop only*/
@media screen and (min-width: 768px) {
    .content {
        margin-left: auto;
        margin-right: auto;
        width: 70%; /* fix the width?*/
    }

    .nextContainer {
        padding-top: 80px; /*Space between navbar and next section*/
    }

    .nextPoster {
        padding-top: 80px; /*Space between NEXT and poster image*/
        height: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .nextButtonContainer {
        margin-top: 24px; /*Space between buttons and poster image*/
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nextHeart {
        display: block;
        width: 26px;
        margin: auto 24px auto 24px;
    }

    .testimonialsContainer {
        padding-top: 120px; /* Space between buttons and Testimonials heading*/
    }

    .testimonials {
        padding-top: 16px; /* Space between TESTIMONIALS and quotes (+16px) */
    }

    .aboutContainer {
        padding-top: 80px; /* Space between testimonials and About heading */
    }

    .aboutSubContainer {
        margin-top: 56px; /* Space between ABOUT and text/image */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .aboutImage {
        width: 420px;
    }
    .aboutText {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 24px;
    }
}


/* .body {
    background-color: #FFE0CE;
}

.content {
    margin: auto;
    width: 70%;
}

.nextContainer {
    max-width: 768px;
    margin: auto;
    margin-top: 40px;
}
.nextPoster {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nextButtonContainer {
    margin-top: 10px;
    display: flex;
    height: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nextButton {
    padding-top: 100px;
}
.nextHeart {
    display: none;
}

.aboutContainer {
    display: flex;
    flex-direction: column-reverse;
}
.aboutImage {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (min-width: 768px) {
    .nextContainer {
        width: 600px;
        max-width: 100%;
    }
    .nextPoster {
        width: 100%;
    }
    .nextButtonContainer{
        flex-direction: row;
        justify-content: space-around;
        height: 100px;
    }
    .nextButton, .nextHeart {
        display: block;
        margin: 20px;
    }

    .aboutContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .aboutImage {
        margin: auto;
        max-width: 40%;
    }
    .aboutText {
        margin: auto;
        margin-top: 20px;
        max-width: 60%;
    }
} */
