/*Mobile + Desktop*/
.body {
    background-color: #FFE0CE;
}

.content {
    margin-left: 16px;
    margin-right: 16px;
}

.nextContainer {
    padding-top: 32px; /*Space between navbar and next section*/
}

.nextPoster {
    padding-top: 8px; /*Space between NEXT and poster image*/
    width: 100%;
}

.nextButtonContainer {
    margin-top: 24px; /*Space between buttons and poster image*/
    width: 100%;
}

.nextHeartContainer {
    height: 24px;
}

.nextHeart {
    display: none;
}

.testimonialsContainer {
    padding-top: 48px; /* Space between buttons and Testimonials heading*/
}

.testimonials {
    padding-top: 0px; /* Space between TESTIMONIALS and quotes (+16px) */
}

.aboutContainer {
    padding-top: 48px; /* Space between testimonials and About heading*/
}

.aboutSubContainer {
    margin-top: 24px; /* Space between ABOUT and text/image */
    display: flex;
    flex-direction: column-reverse;
}

.aboutImage {
    width: 100%;
}

.aboutText {
    width: 100%;
    font-family: "Helvetica";
}

/*Desktop only*/
@media screen and (min-width: 480px) {
    .content {
        margin-left: auto;
        margin-right: auto;
        width: 70%; /* fix the width?*/
    }

    .nextContainer {
        padding-top: 80px; /*Space between navbar and next section*/
    }

    .nextPoster {
        padding-top: 80px; /*Space between NEXT and poster image*/
        height: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .nextButtonContainer {
        margin-top: 24px; /*Space between buttons and poster image*/
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nextHeart {
        display: block;
        width: 26px;
        margin: auto 24px auto 24px;
    }

    .testimonialsContainer {
        padding-top: 120px; /* Space between buttons and Testimonials heading*/
    }

    .testimonials {
        padding-top: 16px; /* Space between TESTIMONIALS and quotes (+16px) */
    }
}

/*Only change the about container for desktop size*/
@media screen and (min-width: 1024px) {
    .aboutContainer {
        padding-top: 80px; /* Space between testimonials and About heading */
    }

    .aboutSubContainer {
        margin-top: 56px; /* Space between ABOUT and text/image */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .aboutImage {
        width: 420px;
    }
    .aboutText {
        margin-top: auto;
        margin-bottom: auto;
    }
}