.logoImg {
    display: block;
    margin: 0 auto;
    width: 136px;
    height: 123px;
    padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .logoImg {
        width: 240px;
        height: 217px;
        padding-bottom: 24px;
    }
}