.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 32px;
    border-radius: 5px;
    border: 2px solid #980000;
    background-color: #FFF9ED;
    transition: background-color 0.3s ease-in-out;
    margin-top: 16px;
}

.button:hover {
    cursor: pointer;
    background-color: #980000;
}

.text {
    font-size: 16px;
    color: #980000;
    font-family: "ClementePDae";
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: color 0.3s ease-in-out;
}

.text:hover {
    color: #FFF9ED;
}