

.active {
    font-size: 30px;
    font-family: "ClementePDak"; 
    margin: 0;
    color: #113219; 
    text-decoration: none;
    padding-bottom: 16px;
    text-align: center;
    background-image: url("/heart-underline.png");
    background-position: 9px 35px;
    background-size: 76px 10px;
    background-repeat: no-repeat;
    justify-content: center;
}

@media (max-width: 780px) {
    .active {
        font-size: 25px;
        padding-left: 5px;
        padding-right: 5px;
        background-position: 5px 30px;
        background-size: 76px 10px;
        justify-content: center;
    }
}

.nonActive {
    text-decoration: none;
    font-size: 30px;
    font-family: 'ClementePDae';
    margin: 0px; 
    color: #113219; 
    text-decoration: none; 
    padding-bottom: 16px;
    text-align: center;
}

@media (max-width: 780px) {
    .nonActive{
        font-size: 25px;
    }
}

.bigContainer{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 10px;
}

.button {
    height: 40px;
    width: 50px; 
    margin-bottom: 30px;
    justify-content: center;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-left: 10px;
    background-color: #FFF9ED;
    align-items: center;
    background-image: url("/hamburger.png");
    background-size: 35px 35px;
    background-position: 8px 4px;
    background-repeat: no-repeat;
}

@media(min-width: 780px){
    .button {
        display: none;
    }
}

.mobileContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

@media(min-width: 780px) {
    .mobileContainer {
        display: none;
    }
    
}

.desktopContainer{
    display: none;
}

@media(min-width: 780px) {
    .desktopContainer {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        margin-top: 32px;
        padding-left: 10%;
        padding-right: 10%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 632px;
        height: 40px;
    }
    
}



.image {
    height: 36px;
    width: 44px; 
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 15px;
}