

.active {
    font-size: 35;
    font-family: "ClementePDae"; 
    margin: 0;
    color: #113219; 
    background-image: url("/heart-underline.png");
    background-position: 5px 35px;
    background-size: 76px 10px;
    background-repeat: no-repeat
}

.nonActive {
    text-decoration: none;
}