.eventsBody {
    background-color: #FFF1CE;
}

.pastVendorsBody {
    background-color: #EEE2F6;
}

.galleryBody{
    background-color: #E2F5F6;
}

.pastVendorsText {
    font-family: "ClementePDae", 'Clemente-fallback', sans-serif;
    color: #113219;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-top: 10px;
    margin: 0;
}