.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.inputText {
    border: 1px solid transparent;
    background-color: whitesmoke;
    padding: 8px;
    font-size: 16px;
    font-family: "ClementePDae";
    width: auto;
    height: 24px;
    margin-left: 8px;
    margin-right: 8px;
}

@media (min-width: 768px) {
    .inputText {
        width: 400px;
    }
}

.inputSubmit {
    border: 1px solid transparent;
    border-radius: 8%;
    background-color: #1A361E;
    font-family: "ClementePDae";
    padding: 10px;
    font-size: 16px;
    color: whitesmoke;
    height: 40px;
    width: 80px;
    margin-left: 8px;
    margin-right: 8px;
}

.list {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-right: 8px;
    margin-left: 8px;
}

@media (min-width: 768px) {
    .list {
        width: 416px;
    }
}

.searchResults {
    display: grid;
    grid-template-columns: auto;
    gap: 8px;
    padding: 8px;
    justify-content: center;
}

@media (min-width: 768px) {
    .searchResults {
        display: grid;
        grid-template-columns: auto auto;
        gap: 48px;
        max-width: 1160px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.columnContainer {
    display: flex;
    flex-direction: column;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter {
    border: 1px solid transparent;
    font-family: "ClementePDae";
    border-radius: 8%;
    background-color: #1A361E;
    padding: 10px;
    font-size: 16px;
    color: whitesmoke;
    height: 18px;
    width: 58px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

.filter:hover {
    cursor: pointer;
}

.filterList {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
    display: none;
    flex-direction: column;
    width: 100px;
    margin-right: 8px;
    margin-left: 8px;
}

.listItem {
    font-family: "ClementePDae";
    background-color: whitesmoke;
    padding: 4px;
}

.listItem:hover {
    background-color: gray;
    cursor: pointer;
    font-family: "ClementePDak";
}

.collectionContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 24px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-family: "ClementePDak";
    color: #1A361E;
    font-size: 32px;
    padding: 4px;
    justify-content: center;
    text-align: center;
}

.searchHeader {
    font-family: "ClementePDae";
    font-size: 48px;
    color: #1A361E;
    margin-left: auto;
    margin-right: auto;
}