.container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

@media (min-width: 768px) {
    .container{
        max-width: 1000px;
        width: 100%;
        height: 90px;
        padding-top: 80px;
    }
}

.text {
    text-align: center;
    font-size: 48px; 
    margin: 0;
    color: #1A361E; 
    font-family: 'Ilyas';
}

@media (min-width: 768px) {
    .text {
        font-size: 100px; 
    }
}

.imageLeft {
    margin-left: 100px;
    margin-right: 50px;
}

.imageRight {
    margin-left: 50px;
    margin-right: 100px;
}

.mediumStrawberry {
    display: none;
    height: 41px;
    width: 32px;
    background-image: url("/smallStrawberryBorder.png");
    background-repeat: none;
    background-size: 32px 41px;
    border: none;
    align-items: center;
}

@media (min-width: 768px) {
    .mediumStrawberry {
        height: 82px;
        width: 184px;
        background-image: url("/mediumStrawberryBorder.png");
        background-size: 184px 82px;
    }
}

.largeStrawberry {
    height: 41px;
    width: 32px;
    background-image: url("/smallStrawberryBorder.png");
    background-repeat: no-repeat;
    background-size: 32px 41px;
    border: none;
    align-items: center;
}

@media (min-width: 768px) {
    .largeStrawberry {
        height: 82px;
        width: 184px;
        background-image: url("/mediumStrawberryBorder.png");
        background-size: 184px 82px;
    }
}

@media (min-width: 925px) {
    .largeStrawberry {
        height: 82px;
        width: 305px;
        background-image: url("/largeStrawberryBorder.png");
        background-size: 305px 82px;
    }
}