.text {
    text-align: center;
    font-size: 35px; 
    margin: 0;
    color: #1A361E; 
    font-family: 'Ilyas';
}

@media (min-width: 780px) {
    .text {
        font-size: 60px; 
    }
}

.imageLeft {
    margin-left: 100px;
    margin-right: 50px;
}

.imageRight {
    margin-left: 50px;
    margin-right: 100px;
}

.mediumStrawberry {
    height: 41px;
    width: 32px;
    background-image: url("/smallStrawberryBorder.png");
    background-repeat: none;
    background-size: 32px 41px;
    border: none;
    align-items: center;
}

@media (min-width: 780px) {
    .mediumStrawberry {
        height: 82px;
        width: 184px;
        background-image: url("/mediumStrawberryBorder.png");
        background-size: 184px 82px;
    }
}

.largeStrawberry {
    height: 41px;
    width: 32px;
    background-image: url("/smallStrawberryBorder.png");
    background-repeat: no-repeat;
    background-size: 32px 41px;
    border: none;
    align-items: center;
}

@media (min-width: 780px) {
    .largeStrawberry {
        height: 82px;
        width: 305px;
        background-image: url("/largeStrawberryBorder.png");
        background-size: 305px 82px;
    }
}