@font-face {
    font-family: "Ilyas";
    src: url("/fonts/ilyas.woff2") format("woff2");
}
@font-face {
    font-family: "Helvetica Light";
    src: url("/fonts/Helvetica-Light.woff2");
}

@font-face{
    font-family: "ClementePDak";
    src: url("/fonts/ClementePDak.woff2") format("woff2");
}

@font-face {
    font-family: "ClementePDae";
    src: url("/fonts/ClementePDae-Light.woff2") format("woff2");
}

/* All the versions of Clemente font */
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDaa-Hairline.ttf");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDab-HairlineItalic.ttf");
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDac-ExtraLight.ttf");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDad-ExtraLightItal.ttf");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDae-Light.ttf");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDaf-LightItalic.ttf");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDag-Book.ttf");
    font-style: normal;
    font-weight: 350;
}
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDah-BookItalic.ttf");
    font-style: italic;
    font-weight: 350;
} 
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDai-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDaj-RegularItalic.ttf");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDak-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDal-SemiBoldItalic.ttf") ;
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDam-Bold.ttf");
    font-style: normal;
    font-weight: 700;
} 
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDan-BoldItalic.ttf");
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDao-Heavy.ttf");
    font-style: normal;
    font-weight: 800;
} 
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDap-HeavyItalic.ttf");
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDao-UltraBold.ttf");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Clemente";
    src: url("/fonts/clemente_pd/ClementePDao-UltraBoldItali.ttf");
    font-style: italic;
    font-weight: 900;
}


/*Global styles*/
h1 {
    font-family: 'Ilyas';
    font-size: 70px;
    font-weight: normal;
    margin: 0;
}
h2 {
    font-family: 'Ilyas';
    font-size: 60px;
    font-weight: normal;
    margin: 0;
}
h3 {
    font-family: 'Clemente';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

p {
    font-family: 'Helvetica Light';
    font-size: 16px;
    font-weight: 200;
    margin: 0;
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 90pt;
    }
    h2 {
        font-size: 80pt;
    }
    h3 {
        font-size: 20pt;
    }
    p {
        font-size: 16pt;
    }
}