.textContainer {
    padding: 16px;
    margin-top: 36px;
    border: 1px solid #ff4c4c;
    background-color: #ffbec0;
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.textContainer p {
    font-family: "Helvetica", "Helvetica-fallback", sans-serif;
}
.source {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .textContainer {
        padding: 32px;
    }
}