.container {
    display: flex;
    flex-direction: column; 
    align-items:center;
    justify-content: left;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 768px) {
    .container{
        flex-direction: row;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 950px) {
    .container{
        flex-direction: row;
        margin-top: 0px;
        justify-content: left;
        align-items: flex-start;
        max-width: 1032px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.smallContainer {
    display: flex;
    flex-direction: column; 
    justify-content: left;
    align-items: flex-start;
    padding-bottom: 16px;
    padding-top: 16px;
}

@media (min-width: 768px) {
    .smallContainer{
        align-items: flex-start;
        justify-content: left;  
        max-width: 405px;
        width: 100%;
    }
}

@media (min-width: 1032px) {
    .smallContainer{
        align-items: flex-start;
        justify-content: left;  
        max-width: 500px;
        width: 100%;
    }
}

.image{
    height: 200px;
    width: auto;
}

@media (min-width: 768px) {
    .image {
        height: auto;
        width: 300px;
    }
}



@media (min-width: 950px) {
    .image {
        height: auto;
        width: 500px;
    }
}

.textContainer {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
}

.orange {
    height: 32px;
    width: auto;
    padding-right: 8px; 
}

@media (min-width: 768px) {
    .orange {
        width: auto;
        height: 40px;
        padding-right: 16px;
    }
}

.text {
    font-size: 16px;
    margin: 0px;
    padding-bottom: 8px;
}

@media (min-width: 768px) {
    .text {
        font-size: 24px;
    }
}

.subheading {
    font-size: 16px;
    padding-bottom: 8px;
    font-family: "Helvetica Light", "Helvetica-Light-fallback", sans-serif;
    margin: 0px
}

@media (min-width: 768px) {
    .subheading {
        font-size: 24px;
    }
}

.heading {
    font-size: 24px;
    margin: 0px;
    padding-bottom: 8px;
}

@media (min-width: 768px) {
    .heading {
        font-size: 32px;
    }
}

.contentContainer {
    align-items: center;
    padding-bottom: 24px;
}

@media (min-width: 768px) {
    .contentContainer {
        max-width: 1160px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 56px; 
        justify-content: left;
    }
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    max-width: 450px;
    width: 100%;
}

@media (min-width: 925px) {
    .buttonContainer {
        max-width: 500px;
    }
}

.nextEventContainer {
    padding-bottom: 80px;
}

@media (min-width: 768px) {
    .nextEventContainer {
        padding-bottom: 120px;
    }
}