/*Global styles*/

.imageContainer {
    position: relative;
    width: fit-content;
}

.imageContainer img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 4px;
    border: 2px solid #000000;
    background-color: white;
}

.deleteButton {
    position: absolute;
    top: -16px;
    right: -16px;
    border-radius: 50%;
    width: 32px !important;
    height: 32px;

}

.imageContainer:hover .deleteButton {
    display: block;
}

/*Desktop only*/
@media screen and (min-width: 768px) {
    .imageContainer img {
        width: 200px;
        height: 200px;
    }
}  