/*Global styles*/
.imageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.imageWrapper {
    position: relative;
    width: fit-content;
}

.imageWrapper img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: -3px 4px 12px -1px rgba(0, 0, 0, 0.25);
}

.deleteButton {
    position: absolute;
    opacity: 0;
    top: -12px;
    right: -12px;
    border-radius: 50%;
    width: 32px !important;
    height: 32px;
    z-index: 100;
    transition: opacity 0.1s ease-in-out;
}

.imageWrapper:hover .deleteButton {
    opacity: 1;
    display: block;
}

/*Desktop only*/
@media screen and (min-width: 768px) {
    .imageWrapper img {
        width: 200px;
        height: 200px;
    }
}  