/*Global styles*/
.instructions {
    font-family: Helvetica;
    margin-bottom: 32px;
    margin-top: 8px;
}
.input {
    margin-bottom: 32px;
}

.number {
    width: 150px;
}

.imagesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.image {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}

.fileInput {
    width: 96px;
    height: 96px;
}

.deleteButton {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 2px;
    right: 2px;
    width: 32px;
    height: 32px;
    z-index: 100;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.deleteButton:hover {
    opacity: 1;
}

@media screen and (min-width: 480px) {
    .imageAltWrapper {
        width: 100%;
        display: flex;
        gap: 16px;
        margin-bottom: 16px;
    }

    .altTextWrapper {
        width: 100%;
    }
}

/*Desktop only*/
@media screen and (min-width: 768px) {
    .imageAltWrapper label {
        font-size: 20px;
    }
    
    .fileInput {
        width: 200px;
        height: 200px;
    } 
    
    .deleteButton {
        width: 56px;
        height: 56px;
    }
}